.no-landscape-pls {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: var(--accent-yellow);
  padding: 2rem;
  text-align: center;
  color: var(--base-black);
  font-family: var(--font-poppins);
  z-index: 9999;
}

.hs-form-iframe {
  width: 100% !important;
}

.form-section {
  color: var(--base-black);
  text-align: center;
}

.form-section h1 {
  font-family: var(--font-sunrise);
  text-transform: lowercase;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
}

.form-section h1:after {
  content: "";
  width: 2px;
  height: 20px;
  background: var(--primary-yellow);
  position: absolute;
  bottom: -20px;
  left: calc(50% - 1px);
}

.form-section h1 + p {
  margin-top: 25px;
}

.form-section img {
  max-height: 2rem;
  margin: 0;
}

.form-section label input {
  display: inline-block;
  width: inherit;
  margin: 0 .5rem 0 0 !important;
}

.form-section p {
  font-family: var(--font-poppins);
}

.form-section h3 {
  font-family: var(--font-poppins);
  font-weight: 600;
  margin-top: 0;
  font-size: .9rem;
  margin-bottom: 1.3rem;
  color: var(--accent-black-8);
}

.form-section h3 strong {
  color: var(--accent-green-3);
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1.5rem;
}

.free {
  font-family: var(--font-poppins);
  font-size: 0.8rem;
}


.form-section input, .form-section textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 16px 16px;
  border-radius: 10px;
  font-family: var(--font-poppins);
  font-weight: 700;
}

.form-section input:not(.submit-btn), textarea {
  margin-bottom: 1rem;
  border: 1px solid var(--light-gray);
  background: transparent;
  transition: 0.5s;
}

.form-section input:not(.submit-btn):hover, .form-section textarea:hover {
  border: 1px solid var(--primary-green);
}

.form-section input:not(.submit-btn):focus, .form-section textarea:focus {
  border: 1px solid var(--primary-green);
}

::placeholder {
  color: var(--dark-gray);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--dark-gray);
}

::-ms-input-placeholder {
  color: var(--dark-gray);
}

.submit-btn {
  margin-top: 1rem;
  background: var(--primary-orange);
  opacity: 0.9;
  color: var(--base-black);
  font-weight: 900;
  font-size: 1.3rem;
  border: 0;
  cursor: pointer;
  transition: all ease 0.5s;
}

.submit-btn:hover {
  opacity: 1;
}

textarea {
  resize: none;
}

.cases-section {
  padding: 0 0 2rem 0;
  background: var(--base-white);
}

.brands-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.brands-container .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.brands-container .swiper-slide img{
  max-width: 140px !important;
  height: auto !important;
}


.cases-container {
  width: 100%;
}

.cases-container .swiper-slide {
  text-align: center;
  background: var(--base-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.cases-container .case-wrapper {
  padding-bottom: 3rem;
  text-align: center;
}

.cases-container .case-wrapper h1 {
  font-family: var(--font-sunrise);
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.cases-container .swiper-slide img {
  width: 100%;
}

.cases-container .swiper-button-prev {
  left: 10px !important;
}

.cases-container .swiper-button-next {
  right: 10px !important;
}

.cases-container .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}

.cases-container .swiper-pagination-bullet-active {
  border: 1px solid var(--primary-yellow) !important;
  background: var(--primary-yellow) !important;
}

.cases-container .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  border: 1px solid var(--base-black) !important;
  background: transparent !important;
}

.cases-container .swiper-button-prev, .swiper-button-next {
  background-color: var(--primary-yellow) !important;
  color: var(--base-black) !important;
  border-radius: 50%;
}

.cases-container .swiper-button-prev,
.cases-container .swiper-button-next {
  height: 35px !important;
  width: 35px !important;
}

.cases-container .swiper-button-prev:after,
.cases-container .swiper-button-next:after {
  font-size: 11px !important;
  font-weight: 700 !important;
}

.result-section{
  color: var(--base-black);
  text-align: center;
}

.do-container{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.result-section h1 {
  margin-top: 3rem;
  margin-bottom: 0;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 400;
}

.result-section h2 {
  color: var(--accent-green-3);
  font-family: var(--font-poppins);
  font-size: 1rem;
  margin-bottom: 2rem;
}

.result-section p{
  font-family: var(--font-poppins);
}

.portion {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1.5rem;
}

.portion img {
  width: 15vw;
}

.portion p {
  margin: 1rem;
}

.plus {
  margin: 2.5rem;
}

.plus img {
  height: 1.5rem;
  width: auto;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 94%;
}

.result {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 200;
}

.down-arrow {
  height:2.5rem;
  width:auto;
  margin:1.5rem;
}

.bowl {
  max-width:40vw;
}

.cando-section {
  text-align: center;
  color: var(--base-white);
}

.cando-section h1 {
  margin-top: 3rem;
  font-family: var(--font-poppins);
  font-size: 1.6rem;
  font-weight: 400;
}

.cando-section h2 {
  margin-bottom: 2rem;
  font-family: var(--font-poppins);
  color: var(--primary-yellow);
  font-weight: 400;
  font-size: 1rem;
}

.cando-section p {
  font-family: var(--font-poppins);
}

.cando-section .item-title {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.cando-section p:not(.item-title) {
  font-size: 0.8rem;
  margin-bottom: 4rem;
}

.cando-section img {
  height: 80px;
  width: auto;
}

.cando-panel {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.cando-panel .flex-item-full {
  box-sizing: border-box;
  padding: 0
}


footer {
  text-align:center;
}

.footer-content {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

footer p {
  color: var(--base-white);
  font-family: var(--font-poppins);
  font-weight: 200;
}

footer p {
  margin-bottom: 0;
}

.bottom-link {
  color: var(--primary-yellow);
  transition: 0.3s;
}

.bottom-link:hover {
  color: var(--accent-yellow);
}

.social a {
  text-decoration:none;
  display:inline-block;
}

.social img {
  height:2rem;
  width:auto;
  margin:0.5rem;
  display:block;
}

.footer-ramen {
  max-width:50vw;
  margin-top:1rem;
  margin-bottom:1rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  transition: visibility 0s 2s, opacity 2s linear;
}

.modal.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.modal-content {
  position: relative;
  background-color: var(--base-white);
  font-family: var(--font-poppins);
  color: var(--base-black);
  border-radius: 5px;
  margin: auto;
  margin-top: 5rem;
  padding: 1rem 2rem 1rem 2rem;
  
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.success-modal-content {
  width: 80%;
}

.success-modal-content button {
  opacity: 0.7;
  transition: 0.5s;
}

.success-modal-content button:hover {
  opacity: 1;
}

.optout-modal-content {
  width: 40%;
}

.calling-modal-content {
  width: 80%;
  text-align: center;
}

.ringing-gif {
  display: block;
  margin: 3rem auto;
}

.return-customer-modal {
  width: 80%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.close {
  color: var(--accent-black-7);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--accent-black-2);
  text-decoration: none;
  cursor: pointer;
}

.modal h1 {
  margin: 0;
}

.success-modal-content img {
  height: 80px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.success-modal-content button {
  padding: 14px 24px;
  background-color: var(--primary-orange);
  border: 0;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--font-poppins);
  font-weight: 700;
}

.green-text {
  color: var(--primary-green);
  font-weight: 700;
}

.optout-modal-content form {
  width: 100%;
}

.optout-modal-content input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 1rem 0 1rem 0;
  padding: 14px 14px;
  border-radius: 10px;
  font-family: var(--font-poppins);
  font-weight: 700;
}

.optout-modal-content input:nth-child(1) {
  margin-top: 2.5rem;
}

.optout-modal-content input:nth-child(-n+2) {
  border: 1px solid var(--light-gray);
  transition: 0.5s
}

.optout-modal-content input:nth-child(-n+2):hover {
  border: 1px solid var(--primary-green);
}

.optout-modal-content input:nth-child(-n+2):focus {
  border: 1px solid var(--primary-green);
}

.optout-modal-content input:nth-child(3){
  background: var(--primary-orange);
  color: var(--base-black);
  font-weight: 900;
  margin-top: 3rem;
  font-size: 1.3rem;
  border: 0;
  cursor: pointer;
  text-align: center;
  opacity: 0.7;
  transition: 0.5s;
}

.optout-modal-content input:nth-child(3):hover{
  opacity: 1;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.return-modal-content form, 
.return-modal-content {
  width: 80%;
  margin: 2rem auto;
  padding: 3rem;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.return-modal-content .flex-item-half {
  align-items: inherit !important;
}

.return-modal-content .flex-item-half:first-child {
  padding-right: 1rem !important;
  box-sizing: border-box;
}

.return-modal-content form {
  width: 50% !important;
  padding: 0 !important;
  justify-content: space-between;
  padding-left: 1rem !important;
  box-sizing: border-box;
  margin: 0;
}

.return-modal-content form * {
  display: flex;
}

.return-modal-content input {
  margin: 0 !important;
}

.return-modal-content button[type=submit] {
  background: var(--primary-orange);
  color: var(--base-black);
  font-weight: 900;
  font-size: 1.3rem;
  border: 0;
  cursor: pointer;
  text-align: center;
  opacity: 0.8;
  transition: 0.5s;
  border-radius: 10px;
  padding: .6rem;
}

.return-modal-content h1 {
  margin-bottom: 2rem;
}

.return-modal-content p {
  margin-top: 0;
  text-align: justify;  
}

.return-modal-content .flex-item-half:first-child > p
.return-modal-content .flex-item-half:first-child > p:last-child {
  font-size: .85rem;
  text-transform: uppercase;
  font-weight: 600;
}

.return-modal-content .desc-modal {
  display: block;
  font-size: 1.5rem;
  letter-spacing: -1px;
}

.return-close {
  background: transparent;
  border: 0;
  color: #ff3333;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .form-section {
    padding: 4rem 8rem 4rem 8rem;
  }

  .cases-container .swiper-button-prev,
  .cases-container .swiper-button-next {
    top: 50% !important;
  }

  .cases-container .swiper-button-prev,
  .cases-container .swiper-button-next {
    height: 55px !important;
    width: 55px !important;
  }

  .cases-container .swiper-button-prev:after,
  .cases-container .swiper-button-next:after {
    font-size: 18px !important;
    font-weight: 700 !important;
  }

  .result-section {
    padding: 4rem;
  }


  .result-section h1 {
    font-size: 2.5rem;
  }

  .result-section h2 {
    font-size: 1.3rem;
  }

  .portion {
    font-size: 1.6rem;
    margin: 1.5rem;
  }

  .portion img {
    height: 50px;
    width: auto;
  }

  .portion p {
    margin: 1rem;
  }

  .plus {
    margin: 2.5rem;
  }

  .plus img {
    height: 1.5rem;
    width: auto;
  }

  hr {
    width: 60%;
  }

  .result {
    font-size: 1.7rem;
  }

  .down-arrow {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height:3.5rem;
  }

  .bowl {
    max-width:25vw;
  }

  .cando-section h1 {
    font-size: 2.5rem;
  }

  .cando-section h2 {
    font-size: 1.3rem;
  }

  .cando-section .item-title {
    font-size: 1.1rem;
  }

  .cando-section p:not(.item-title) {
    font-size: 1rem;
  }

  .cando-panel .flex-item-full {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    justify-items: inherit;
    width: 50%;
    padding: 0 1.5rem;
  }

  .footer-content {
    flex-direction: row-reverse;
  }

  .footer-content .flex-item-full {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    justify-items: inherit;
  }

  .footer-content .flex-item-full:nth-child(0) {
    width: 50%;
  }

  .social-row {
    margin-top: 4.3rem;
    float: right;
    margin-right: 5rem;
  }

  .social img {
    height:2.5rem;
    width: auto;
    margin: 0.5rem;
    display: block;
  }

  .footer-ramen {
    max-width: 250px;
    float: left;
    margin-left: 5rem;
  }
}

@media only screen and (min-width: 1025px) {
  .brands-container {
    width: 70%;
  }

  .cases-container .swiper-slide img {
    width: 80%;
  }
  
  .cases-container .swiper-button-prev {
    left: 40px !important;
  }
  
  .cases-container .swiper-button-next {
    right: 40px !important;
  }

  .do-container .flex-item-full {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    justify-items: inherit;
  }

  .do-container .flex-item-full:nth-child(1), .do-container .flex-item-full:nth-child(3), .do-container .flex-item-full:nth-child(5) {
    width: 10%;
  }

  .do-container .flex-item-full:nth-child(2), .do-container .flex-item-full:nth-child(4) {
    width: 2%;
  }

  .bowl {
    max-width:15vw;
  }

  .cando-panel .flex-item-full {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    justify-items: inherit;
    width: 30%;
    padding: 0 2rem;
  }

  footer {
    padding: 2rem 8rem 2rem 8rem;
  }

  .footer-ramen {
    margin-left: 0;
  }

  .social-row {
    margin-right: 0;
  }

  .success-modal-content {
    width: 30%;
  }
}

@media screen and (orientation:landscape) and (max-device-width: 767px) {
  .no-landscape-pls {
    display: grid;
    place-items: center;
  }
}